.card {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    /* Enable 3D transformations */
}

.front {
    transform: rotateY(0deg);
}

.back {
    transform: rotateY(180deg);
}